.analysis-module {
    display: flex;
}

.playground {
    width: 600px;
}

.controls {
    flex-grow:1;
    margin-top: 30px;
}

.board {
    width: 416px;
    height: 416px;    
    border: 1px solid black;
    align-self: center;
    padding: 5px;
    margin: 30px;
}

.container {
    display: flex;
}

.tile {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.test {
    margin-bottom: 30px;
}

#add-analyzer{
    width: fit-content;
}

.analysis-settings-container {
    margin: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
}

.settings-item {
    margin-right: 15px;
    margin-left: 15px;
}

.analysis-controls {
    display: flex;
    align-items: center;
}

.analysis-controls-item {
    margin-right: 5px;
    margin-left: 5px;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.field-input {
    height: 26px;
    width: 26px;
    text-align: center;
}

.btn-remove {
    background-color: rgba(228, 25, 25, 0.932);
    height: 34px;
    width: 34px;
    border-radius: 10%;
    color: white;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.black-occupied {
    background-color: #00FFFF;
}

.black-level-1 {
    background-color: #7CB9E8;
}

.black-level-2 {
    background-color: #0066b2;
}

.black-level-3 {
    background-color: #0039a6;
}

.black-level-4 {
    background-color: #0a2351;
}

.white-occupied {
    background-color: #FF0090;
}

.white-level-1 {
    background-color: #FF6666;
}

.white-level-2 {
    background-color: #FF0000;
}

.white-level-3 {
    background-color: #CC0000;
}

.white-level-4 {
    background-color: #990000;
}
